{% extends '../layout/layout.html' %}
{% block title %} {{title}} {% endblock%}
{% block content %}
<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .from_box {
        max-width: 800px;
        min-width: 274px;
        margin: 0 auto;
        padding: 20px;
    }
</style>
<div class="container" id="app">
    <div class="from_box">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="菜品名称">
                <el-input v-model="form.title"></el-input>
            </el-form-item>
            <el-form-item label="分类描述">
                <el-input v-model="form.introduce"></el-input>
            </el-form-item>
            <el-form-item label="菜品分类">
                <el-cascader 
                    expand-trigger="hover"
                    :options="options"
                    v-model="selectedOptions2"
                >
                </el-cascader>
            </el-form-item>
            <el-form-item label="菜品图片">
                <el-upload class="avatar-uploader" action="/upload"
                    :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            imageUrl: "",
            form: {
                title: '',
                introduce: '',
            },
            options:[{
                value:"11",
                label:"11"
            },{
                value:"22",
                label:"22"
            }],
            selectedOptions2: []
        },
        methods: {
            handleAvatarSuccess: function (res, file) {
                this.imageUrl = res.data.url;
            },
            beforeAvatarUpload: function (file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            onSubmit: function () {
                axios.post('/food/add', {
                    image: this.imageUrl,
                    title: this.form.title,
                    introduce: this.form.introduce,
                    type: this.selectedOptions2[0]
                })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    })
</script>
{% endblock %}